





.form-container { 
  // margin: 0 auto;
  // margin-top: 5rem;
  // padding: 2rem;
margin-left: 4rem;

@media (max-width:'700px') {
 margin-left: 6px; 
}
  
.password-heading {
  font-size: 30px;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
 color: #628c2a;


 @media (max-width:'700px') {
  margin-left: 16px;
  font-size: 28px;
  margin-top:40px;
 }
}
  
  form{
    padding-bottom: 2rem;
    max-width: 100%;
    
    
    
    
    
    .btn-component{
      display: flex;
   
  }

}

}

// form{
//   padding-bottom: 2rem;
// }


// @media (max-width:1200px) {
  
  
//   .input-container { 
    
//     .password-heading{
//       font-size: 24px;
//     }
//     .label{
//       margin-left: 0.8rem;
//     }
    
//     .input-field .input{
//     width: 90%;
//   }

// }

//   .form-container{
//     width: 70%;
//   }
// }


// @media (max-width:700px) {
//   .form-container{
//     width: 100%;
//     margin: 0 auto;
//     padding: 0;


//     .password-heading{
//       padding-top: 2rem;
//      text-align: center;
//     }
//   }
  
 

//   .input-container{


//     .label{
//       margin-left: 1.3rem;

//     }

//     .input-field .input{
//       width: 80%;
//       margin: 0 auto;
//     }
//   }
  


//   .btn-component{
//     margin-left: 1.5rem;
//   }

// }