.restaurantForm-container {
  display: flex;
  max-width: 100%;
  flex-direction: column;

  .restaurant-reviews{
    display: flex;
    align-items: center;


    h4 {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 3rem;
      color: #628c2a;
    }
  }

  .restaurant-form {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;

  

    .label {
      font-size: 1rem;
      font-weight: 600;
      line-height: 1.25rem;
      text-transform: capitalize;
      margin-bottom: 0.75rem;
    }

    .restaurant-input {
      display: flex;
      flex-direction: column;
      width: 500px;

      label {
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.25rem;
        text-transform: capitalize;
        margin-bottom: 0.75rem;
      }

      .menuinput {
        height: 62px;
        border-radius: 8px;
        box-shadow: 2px 3px 5px #ccc;
        background-color: #f8f8f8;
        padding: 1rem;
    
        font-size: 16px;
      }

      input[type="file"] {
        font-size: 0;
      }
      ::file-selector-button {
        font-size: initial;
      }

      .restaurant-preview-container {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        margin-top: 1rem;

        .preview-restaurantimg {
          display: flex;
          height: 100px;
          overflow: hidden;
          object-fit: cover;
        }
      }
    }

    .errors{
      color: red;
      margin-bottom: 11px;
      font-weight: 500;
      margin-top: -5px;
    }

    .errorsImages{
      color: red;
      margin-top: 1rem;
      font-weight: 500;
    }

    .description {
      margin-bottom: 4rem;
      width: 500px;
      height: 200px;
    }

    .restaurantForm-btn {
      width: 8rem;
      height: 3rem;
      border-radius: 8px;
      background-color: #628c2a;
      color: white;
      font-weight: 600;
      font-size: 16px;
      margin-top: 2rem;
    }

    .status {
      display: flex;
      gap: 3rem;
      justify-content: flex-start;
      width: 100%;
      margin-top: 1rem;

      p {
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.25rem;
        text-transform: capitalize;
        margin-bottom: 0.75rem;
        margin-left: 0.1rem;
        margin-top: 1px;
      }
    }
  }
}

@media (max-width: 700px) {
  .restaurantForm-container {
    justify-content: center;

    .restaurant-form {
      margin-left: 0;

      h4 {
        margin: 2rem auto;
      }

      .label {
        margin-left: 1rem;
      }

      .description {
        width: 90%;
        height: 100px;
        margin: 0 auto;
        margin-bottom: 4rem;

        .ql-toolbar.ql-snow {
          padding: 1px;
        }
      }

      .btn-component {
        margin: 0 auto;
      }

      .status p {
        margin-left: 1.5rem;
      }

      .restaurant-input{
        width: 90%;
        margin: 0 auto;
      }
    }
  }
}
